.country-container {
  border: 2px solid red;
  border-radius: 8px;
  padding: 1rem;
  width: 90%;
  margin: 1rem auto;
  background: lightcyan;
}
.country-container p {
  font-size: 1.2rem;
  font-weight: 500;
}

.country-container img {
  width: 80%;
  height: 250px;
}
